html
  head
    title User Information
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
    script(type="text/javascript").
      
        function myFunction() {
          var person = prompt("enter new bus no");
          if (person != null) {
            document.getElementById("busno").innerHTML =person;
           
          }

  body
    .card
      .card-image
        figure.image.is-10by1
          img(src='/views/jpglogo2.jpg', alt='Placeholder image')
    br
    br
    br
    br
    center
      .tile.is-ancestor
        .tile.is-parent
          article.tile.is-child.notification.is-success
            .field.is-mobile
              label.label.is-large Name:
              label.label #{doc.name}
              br
              label.label.is-large Roll No:
              label.label #{doc.id}
              br
              label.label.is-large Branch:
              label.label #{doc.branch}
              br
              label.label.is-large Bus No:
              label.label(for='busno') #{doc.busno}
              br
              label.label.is-large Stop:
              label.label #{doc.stop}
              br
              label.label.is-large E-mail:
              label.label #{doc.email}
              br  
              a(onclick="myFunction()").button.is-small Click Here To Change
          .tile.is-parent
            article.tile.is-child.notification.is-danger
              label.label.is-large Pending Fines:
              table.table.table-striped
                tr
                  th Date
                  th reason
                  th amount


                each n in doc1
                  tr
                    td #{n.date}
                    td #{n.reason}
                    td #{n.amount}
